/**
 * EAN for WooCommerce - Settings Print Products CSS
 *
 * @version 5.5.5
 * @since   5.5.5
 *
 * @author  WPFactory
 */

.form-table,
.form-table th,
.form-table td {
	padding: 5px;
	width: auto;
	border: 1px solid #ddd;
}

.woocommerce table.form-table input[type=number] {
	width: 6em;
}